@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Libre+Barcode+128+Text');

$gray: #c9d4cb;

body, html {
    height: 100%;
    margin: 0 auto;
}

body {
    font-family: 'Montserrat';
    font-size: 18px;
    background-image: url('src/assets/background-blur.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    text-decoration: none;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 1.3em;
    display: grid;
    grid-template-columns: 21% auto;

    a {
        color: white;
    }
}

.home-container {
    height: 89%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.name-container {
    height: 350px;
    width: 500px;
    border: 15px solid rgb(107, 107, 107);
    border: 15px solid rgba(143, 143, 143, 0.5);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    margin-top: 10%;
    background-color: rgba(143, 143, 143, 0.5);
    opacity: .78;
    border-radius: 10px;

    h1 {
        font-size: 225px;
        color: black;
        // opacity: .4;
        margin: 0;
        margin-top: -8.5%;
    }

    .line {
        height: 3px;
        width: 465px;
        background-color: black;
        // opacity: .4;
        margin: auto;
        margin-top: -5%;
    }

    h2 {
        font-size: 50px;
        color: black;
        // opacity: .4;
        text-align: right;
        margin-right: 3%;
        margin-top: 2.5%;
    }
}

.parallax-1 {
    background-image: url("src/assets/DBZScooter.jpg");
    height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;

    h1 {
        color: whitesmoke;
        padding: 20px;
        padding-top: 10px;
        background-color: transparent;
        border: 2px solid whitesmoke;
        margin: 0;
        height: 30px;
        align-self: center;
    }
}

.about {
    width: 100%;
    height: 50%;
    background-color: rgb(22, 22, 22); 

    h3 {
        margin: 0;
        color: whitesmoke;
    }
}

.parallax-2 {
    background-image: url("src/assets/code_pic.png");
    height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;

    h1 {
        color: whitesmoke;
        padding: 20px;
        padding-top: 10px;
        background-color: transparent;
        border: 2px solid whitesmoke;
        margin: 0;
        height: 30px;
        align-self: center;
    }
}

.projects {
    width: 100%;
    height: 50%;
    background-color: rgb(22, 22, 22); 

    h3 {
        margin: 0;
        color: whitesmoke;
    }
}

.parallax-3 {
    background-image: url("src/assets/Contact-Me.jpg");
    height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;

    h1 {
        color: whitesmoke;
        padding: 20px;
        padding-top: 10px;
        background-color: transparent;
        border: 2px solid whitesmoke;
        margin: 0;
        height: 30px;
        align-self: center;
    }
}

.contact {
    width: 100%;
    height: 50%;
    background-color: rgb(22, 22, 22); 

    h3 {
        margin: 0;
        color: whitesmoke;
    }
}